img {
    width: 30vw;
    height: 30vw;
    margin: 1rem;
}

@media screen and (min-width: 600px) {
    img {
        width: 100px;
        height: 100px;
    }
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}